<div class="container" [ngClass]="selectedTea == undefined ? '' : 'blur'">
  <h1 class="text-center my-4">Tea Collection</h1>

  <!-- Success Message Section -->
  <div *ngIf="message" class="alert alert-success alert-dismissible show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="message = undefined;"></button>
  </div>

  <!-- New Tea Button -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Available Teas:</h2>
    <button type="button" class="btn btn-success" (click)="setNewTea()">Add New Tea</button>
  </div>

  <!-- Tea List Table -->
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Origin</th>
        <th scope="col">Flavor</th>
        <th scope="col">Caffeine</th>
        <th scope="col">Price (per ounce)</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tea of teas;">
        <td><img [src]="tea.image" alt=""></td>
        <td>{{ tea.name  }}</td>
        <td>{{ tea.origin }}</td>
        <td>{{ tea.flavor }}</td>
        <td>{{ tea.caffeine }}</td>
        <td>{{ tea.price_per_ounce | currency }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-warning btn-sm" (click)="setModifyTea(tea)">Modify</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTea(tea); message='Successfully deleted a tea!'">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Tea Form Component for Adding/Editing -->
<app-tea-form 
  [selectedTea]="selectedTea" 
  (cancelledForm)="selectedTea = undefined;" 
  (save)="saveTea($event); message='Successfully saved a tea!'">
</app-tea-form>
